<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="bg-light">
<nav class="navbar navbar-dark bg-dark">
    <span class="text-white"
          th:text="${#authentication.principal.name}"></span>
    <span class="ml-2 text-white"
          th:each="role : ${#authentication.principal.roles}" th:text="${role.roleName}">
        </span>

    <form class="ml-auto" method="post" action="/logout">
        <input type="hidden"
               th:name="${_csrf.parameterName}"
               th:value="${_csrf.token}">
        <button type="submit" class="btn btn-light">Logout</button>

    </form>

</nav>

<div class="container-fluid px-3">
    <div class="row">
        <div class="col-2">
            <nav class="nav nav-pills  flex-column">
                <a class="nav-link active" href="/admin">Admin</a>
                <a class="nav-link" href="/user">User</a>
            </nav>

        </div>

        <div class="col-10">
            <h1>Admin panel</h1>

            <nav class="nav nav-tabs">
                <a class="nav-link active" href="#usersTable" data-toggle="tab">Users table</a>
                <a class="nav-link" href="#newUser" data-toggle="tab">New User</a>
            </nav>

            <div class="tab-content">
                <div class="tab-pane show active" id="usersTable">
                    <div class="card">
                        <div class="card-header">
                            <h3>All users</h3>
                        </div>
                        <div class="card-body">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Role</th>
                                    <th>Actions</th>

                                </tr>
                                </thead>

                                <tbody id="usersTableBody">

                                </tbody>

                            </table>

                            <div class="modal" id="editUserModal">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Edit user
                                            </h4>
                                            <button type="button" class="close" data-dismiss="modal">
                                                &times;
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form id="editUserForm">
                                                <input type="hidden"
                                                       th:name="${_csrf.parameterName}"
                                                       th:value="${_csrf.token}">

                                                <div class="form-group">
                                                    <label class="text-center font-weight-bold d-block">Name</label>
                                                    <input class="form-control" type="text" name="name"
                                                           id="editUserName">
                                                </div>
                                                <div class="form-group">
                                                    <label class="text-center font-weight-bold d-block">Password</label>
                                                    <input class="form-control" type="password" name="password">
                                                </div>

                                                <div class="form-group">
                                                    <label class="text-center font-weight-bold d-block">Role</label>
                                                    <select multiple name="role" class="form-control">
                                                        <option value="ROLE_USER">USER</option>
                                                        <option value="ROLE_ADMIN">ADMIN
                                                        </option>
                                                    </select>
                                                </div>


                                            </form>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">Close
                                                </button>
                                                <button type="submit" class="btn btn-primary" id="editUserButton">
                                                    Edit user
                                                </button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="newUser">
                    <div class="card">
                        <div class="card-header">
                            <h3>Add new user</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4 offset-md-4">
                                    <form id="newUserForm">
                                        <input type="hidden"
                                               th:name="${_csrf.parameterName}"
                                               th:value="${_csrf.token}">

                                        <div class="form-group">
                                            <label class="text-center font-weight-bold d-block">Name</label>
                                            <input type="text" name="name" class="form-control">
                                        </div>

                                        <div class="form-group">
                                            <label class="text-center font-weight-bold d-block">Password</label>
                                            <input type="password" name="password" class="form-control">
                                        </div>

                                        <div class="form-group">
                                            <label class="text-center font-weight-bold d-block">Role</label>
                                            <select multiple name="role" class="form-control">
                                                <option value="ROLE_USER">USER</option>
                                                <option value="ROLE_ADMIN">ADMIN</option>
                                            </select>
                                        </div>
                                        <div class="text-center">
                                            <button type="submit" class="btn btn-success">Add new user</button>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script>
    let editUserId;
    fetch("/api/users")
        .then(response => response.json())
        .then(users => {
            const tableBody = document.getElementById("usersTableBody");
            users.forEach(user => {
                const row = document.createElement("tr");
                row.dataset.userId = user.id;
                const idCell = document.createElement("td");

                idCell.textContent = user.id;
                row.appendChild(idCell);


                const nameCell = document.createElement("td");

                nameCell.textContent = user.name;
                row.appendChild(nameCell);

                const rolesCell = document.createElement("td");

                rolesCell.textContent = user.roles;
                row.appendChild(rolesCell);

                const actionsCell = document.createElement("td");

                const editButton = document.createElement("button");
                editButton.textContent = "Edit";
                editButton.className = "btn btn-primary";
                editButton.addEventListener("click", () => {
                    editUserId = user.id;

                    const nameInput = document.getElementById("editUserName");
                    nameInput.value = user.name;

                    const roleSelect = document.querySelector('select[name="role"]');
                    for (let option of roleSelect.options) {
                        option.selected = user.roles.includes(option.value);
                    }

                    $("#editUserModal").modal("show");
                });
                actionsCell.appendChild(editButton);

                const deleteButton = document.createElement("button");
                deleteButton.textContent = "Delete";
                deleteButton.className = "btn btn-danger";
                deleteButton.addEventListener("click", () => {

                    const csrfToken = document.querySelector('input[name="_csrf"]').value;

                    const body = new URLSearchParams();
                    body.append("_csrf", csrfToken);

                    fetch(`/api/users/${user.id}`, {
                        method: "DELETE",
                        body: body
                    })
                        .then(response => {
                            row.remove();
                        });

                });
                actionsCell.appendChild(deleteButton);


                row.appendChild(actionsCell);

                tableBody.appendChild(row);
            })


        });
    const editUserButton = document.getElementById("editUserButton");
    editUserButton.addEventListener("click", () => {
        const name = document.getElementById("editUserName").value;
        const password = document.querySelector('input[name="password"]').value;
        const roleSelect = document.querySelector('select[name="role"]');
        const roles = Array.from(roleSelect.selectedOptions).map(option => option.value);

        const body = new URLSearchParams();
        body.append("name", name);
        body.append("password", password);
        roles.forEach(role => {
            body.append("role", role);
        });

        const csrfToken = document.querySelector('input[name="_csrf"]').value;
        body.append("_csrf", csrfToken);

        fetch(`/api/users/${editUserId}`, {
            method: "PUT",
            body: body
        })
            .then(response => {
                const row = document.querySelector(`tr[data-user-id="${editUserId}"]`);

                row.children[1].textContent = name;
                row.children[2].textContent = roles.join(",");

            });


    });

    const newUserForm = document.getElementById("newUserForm");
    newUserForm.addEventListener("submit", (event) => {
        event.preventDefault();

        const name = newUserForm.querySelector('input[name="name"]').value;
        const password = newUserForm.querySelector('input[name="password"]').value;
        const roleSelect = newUserForm.querySelector('select[name="role"]');
        const roles = Array.from(roleSelect.selectedOptions).map(option => option.value);

        const body = new URLSearchParams();
        body.append("name", name);
        body.append("password", password);

        roles.forEach(role => {
            body.append("role", role);
        });

        const csrfToken = document.querySelector('input[name="_csrf"]').value;
        body.append("_csrf", csrfToken);

        fetch("/api/users", {
            method: "POST",
            body: body
        })
            .then(response => response.json())
            .then(user => {
                const tableBody = document.getElementById("usersTableBody");

                const row = document.createElement("tr");
                row.dataset.userId = user.id;

                const idCell = document.createElement("td");
                idCell.textContent = user.id;
                row.appendChild(idCell);

                const nameCell = document.createElement("td");
                nameCell.textContent = user.name;
                row.appendChild(nameCell);

                const roleCell = document.createElement("td");
                roleCell.textContent = user.roles.join(",");
                row.appendChild(roleCell);

                const actionsCell = document.createElement("td");
                row.appendChild(actionsCell);
                const editButton = document.createElement("button");
                editButton.textContent = "Edit";
                editButton.className = "btn btn-primary";
                actionsCell.appendChild(editButton);
                editButton.addEventListener("click", () => {
                    editUserId = user.id;

                    const nameInput = document.getElementById("editUserName");
                    nameInput.value = user.name;

                    const roleSelect = document.querySelector('select[name="role"]');
                    for (let option of roleSelect.options) {
                        option.selected = user.roles.includes(option.value);
                    }

                    $("#editUserModal").modal("show");

                });

                const deleteButton = document.createElement("button");
                deleteButton.textContent = "Delete";
                deleteButton.className = "btn btn-danger";
                actionsCell.appendChild(deleteButton);

                deleteButton.addEventListener("click", () => {
                    const csrfToken = document.querySelector('input[name="_csrf"]').value;

                    const body = new URLSearchParams();
                    body.append("_csrf", csrfToken);

                    fetch(`/api/users/${user.id}`, {
                        method: "DELETE",
                        body: body
                    })
                        .then(response => {
                            row.remove();
                        });
                });

                tableBody.appendChild(row);
            });
    });


</script>

</body>
</html>