<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<span th:text="${user.name}"></span>
    <div th:each="role : ${user.roles}">
        <span th:text="${role.roleName}"></span>
    </div>


<h1>User, welcome spring boot security page!</h1>



<form method="post" action="/logout">
    <input type="hidden"
    th:name="${_csrf.parameterName}"
    th:value="${_csrf.token}">
    <button type="submit">Logout</button>

</form>
</body>
</html>